body {
    margin: 0;
    padding: 0;
    background: #000;
}

a {
    text-decoration: underline;
}

a:hover {
    color: #999;
}

ul {
    padding-inline-start: unset;
    margin: 0;
}

ul > li {
    padding: 0.5em;
}

li > p {
    padding: 0.5em 0;
}

input {
    border: none;
    background: #111;
}

input[type="submit"] {
    background: none;
    padding: 0;
    text-decoration: underline;
}

input[type="submit"]:hover {
    color: #999;
    cursor: pointer;
}

label, input, li, a, p, table {
    font-family: monospace;
    font-size: 1em;
    color: #fff;
}

p {
    padding: 0.5em;
    margin: 0;
}

table {
    border: none;
    border-spacing: 0.1em;
}

.inactive {
    opacity: 0.5;
}

.error {
    color: red;
    padding: 1em 0 0 0;
    margin: 0;
}

.player {
    padding: 0.5em;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.health {
    width: 50%;
    background: white;
    display: inline-block;
    font-weight: bold;
}

.damage {
    width: 100%;
    border: 1px solid white;
    display: inline-block;
}

.red {
    color: lightcoral;
}

.blue {
    color: lightskyblue;
}
