body {
    margin: 0;
    padding: 0;
    background: #000;
    color: #fff;
}

a {
    text-decoration: underline;
}

a:hover {
    color: #999;
}

ul {
    padding-inline-start: unset;
    margin: 0;
}

ul > li {
    padding: 0.5em;
}

li > p {
    padding: 0.5em 0;
}

input {
    border: none;
    background: #111;
}

input[type="submit"] {
    background: none;
    padding: 0;
    text-decoration: underline;
}

input[type="submit"]:hover {
    color: #999;
    cursor: pointer;
}

label, input, li, a, p, div, table {
    font-family: monospace;
    font-size: 1em;
    color: #fff;
}

p, h1 {
    padding: 0.5em;
    margin: 0;
}

h1 {
    font-size: 2em;
}

table {
    border: none;
    border-spacing: 0.1em;
}
.breadcrumbs {
    padding: 0.5em;
    margin: 0;
    display: inline;
}

.breadcrumbs > h1 {
    font-size: 1em;
    padding: 0;
    display: inline;
    font-weight: normal;
}

.inactive {
    opacity: 0.1;
}

.inline {
    display: inline;
}

.active {
    color: #999;
}

.error {
    color: red;
    padding: 1em 0 0 0;
    margin: 0;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.player {
    max-width: 50%;
}

.history {
    max-height: 300px;
    overflow-y: auto;
}

.logo {
    font-size: 1.5em;
    display: block;
    text-decoration: none;
}
